---
to: internal/commands/cmd_{{ .Name | caseSnake }}.go
---

package commands

import (
	"log"

	"github.com/spf13/cobra"
)

func {{.Name | caseCamel }}Cmd() *cobra.Command {
	return &cobra.Command{
		Use:   "{{ .Name | caseLower }}",
		Short: "a new command",
		Long:  "a new command",
		RunE:   {{ .Name | caseCamel }},
	}
}

func {{ .Name | caseCamel }}Func() cmdErrFunc {

	if len(args) == 0 {
		log.Println("at least 1 argument must be provided")
		return
	}
}
