---
to: example/fakr/{{ .Name }}_stringers.go
list: foo,bar,bin,baz
---

package {{ .Name }}

import "fmt"

func main() {

    {{ $nameList := splitByDelimiter .Meta.list "," }}
    {{ range $i, $item := $nameList }}
        fmt.PrintLn({{ $item }})
    {{ end }}

}