---
to: example/fakr/{{ .Name }}_stringers.go
list: foo,bar,bin,baz
contains_check: flash gordon
---

package {{ .Name }}

import "fmt"

func main() {

    {{ $nameList := splitByDelimiter .Meta.list "," }}
    {{ range $i, $item := $nameList }}
        fmt.PrintLn({{ $item }})
    {{ end }}


    {{ if contains .Meta.contains_check "flash" }}
        fmt.PrintLn("contains flash")
    {{ end }}

}